# System
.DS_Store

# Browser-incompatible image formats (JPG versions exist)
media/*.HEIC

# Unused video attempts
media/cindy.mp4
media/cindy-transparent.webm


# Sensitive / generated documents
invoice.html
invoice.pdf
